server:
  port: 8080

spring:
  application:
    name: carpet-backend

  data:
    mongodb:
      host: localhost
      port: 27017
      database: carpetdb

  datasource:
    url: jdbc:postgresql://localhost:5432/ledgerdb
    username: carpet
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: carpet-group
      auto-offset-reset: earliest
    listener:
      ack-mode: record

# Logging
logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG


