server:
  port: 8080

spring:
  application:
    name: carpet-backend

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.cassandra.CassandraAutoConfiguration
      - org.springframework.boot.autoconfigure.data.cassandra.CassandraDataAutoConfiguration
      - org.springframework.boot.autoconfigure.data.cassandra.CassandraRepositoriesAutoConfiguration
      - org.springframework.boot.autoconfigure.data.cassandra.CassandraReactiveRepositoriesAutoConfiguration

  data:
    mongodb:
      host: localhost
      port: 27017
      database: carpetdb

  datasource:
    url: jdbc:postgresql://localhost:5432/carpetdb
    username: carpet
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: carpet-group
      auto-offset-reset: earliest
    listener:
      ack-mode: record

# Logging
logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG


